/*
	turquoise: #00b3c3
	pink: #d078ba
	dark grey: #767676
	background light grey: #f3f3f3

	heading text: #5d5d5d
	text: #888888

	60cedb
*/

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;


/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

h1, h2, h3 {
	color: #333333;
}

.container {
	max-width: 1000px;
	padding-top: 2em;
	padding-bottom: 2em
}

.center {
	text-align: center
}


.navbar-inverse {
	background-color: #0db4c7;
	border-color: #0db4c7;
	color: #fff;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-brand>img {
	height: 48px;
	margin-top: -15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.btn {
	background-color: rgb(96,206,219);
}

.row-reasons {
	text-align: center;
}
.row-reasons img {
	width: 200px;
}

.jumbotron {
	background-color:#0db4c7;
	color: #fff
  }

.pricing {
	padding-top: 5em;
	padding-bottom: 5em;

}
.panel-basic {
	background-color: #0db4c7;
	color: #fff;
}

.panel-personnal {
	background-color: #00b6a0;
	color: #fff;
}

.panel-organisation {
	background-color: #333333;
	color: #fff;
}

.panel-basic>.panel-heading {
    color: #fff;
		font-size: 2.4em;
		font-weight: bold;
    background-color: #0db4c7;
    border-color: #fff;
		border-bottom: 4px solid #fff;
		text-align: center
}

.panel-personnal>.panel-heading {
    color: #fff;
		font-size: 2.4em;
		font-weight: bold;
    background-color: #00b6a0;
    border-color: #fff;
		border-bottom: 4px solid #fff;
		text-align: center
}

.panel-organisation>.panel-heading {
    color: #fff;
		font-size: 2.4em;
		font-weight: bold;
    background-color: #333333;
    border-color: #fff;
		border-bottom: 4px solid #fff;
		text-align: center
}

.panel-body {
  text-align: center;
}

.storage {
	font-size: 1.7em;
	font-weight: bold;
}

.panel-body .price {
	font-size: 4em;
	font-weight: bold;
}

.list-basic .list-group-item {
	background-color: #0db4c7;
}

.list-personnal .list-group-item {
	background-color: #00b6a0;
}

.list-organisation .list-group-item {
	background-color: #333333;
}

.list-storage {
	background-color: rgba(255, 255, 255, 0.5)!important;
	font-size: 1.2em;
	text-align: center;
}

 .users-feedbacks .img-circle {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 2em
}

.users-feedbacks h2 {
text-align: center;
color: white
}

.values {
	margin-bottom: 20px;
}

.features img {
	width: 100px;
}

.features h1 {
	font-size: 2.2em;
	font-weight: bold;
	color: white;
	text-align: center;
}

.features h2 {
	font-size: 1.4em;
	color: white;
	font-style: italic;
}

.features {
	background-color: #0db4c7;
	color: white;
}

.features .row {
	padding-top: 2em;
	padding-bottom: 2em;
}

.users-feedbacks {
	background-color: #0db4c7;
	color: white
}

.users-feedbacks h1 {
	font-size: 2.2em;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

.press {
	padding-bottom: 2em;
}


.press h1 {
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

.mission h1 {
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

.mission h2 {
	font-size: 1.4em;
}

.mission p {
	text-align: left;
}


.newsletter {
	background-color: #0db4c7;
}

.newsletter h1 {
	font-size: 2.2em;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-bottom: 1em;
}


.page-footer {
	background-color: #0db4c7;
	color: white;
}

.page-footer a {
	color: white;
}

.page-footer li {
	list-style: none;
}

.page-footer ul {
padding: 0
}

.page-footer h3 {
	color: white;
}

.mission img {
	width: 120px;
}

blockquote {
	border-left: none;
}

.blockquote {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
color: #fff;
font-style: italic;
margin: 1.3em;
padding: 1.3em;
text-align: center;
}

.blockquote footer {
	margin-top: -1.3em;
}

.press img {
	width: 250px
}
