{{ partial "header.html" . }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
        <h1>Your <strong>private cloud</strong> for files, contacts, calendars and email</h1>
        <form class="form-horizontal">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-lg">Sign up & try for free</button> </form>
      </div>
      <div class="col-md-6">
    </div>
  </div>
    </div>
  </section>

    <div class="values">
      <section class="container">
      <div class="row row-reasons">
        <div class="col-md-4">
          <img src="img/freesoftware.svg" alt="">
          <h2>Freedom</h2>
          <p>Everyone shall be free to use their data and software as they which. We believe in a web for all and by all.</p>
       </div>
       <div class="col-md-4">
         <img src="img/earth.svg" alt="">
         <h2>Common Good</h2>
         <p>In every action we go into, we look forward to bring value to the entire Earth Ecosystem as a whole, as far as our awareness allows</p>
       </div>
        <div class="col-md-4">
          <img src="img/privacy.svg" alt="">
          <h2>Privacy</h2>
          <p>IndieHosters works for your data to be safe and won't use it for any means to which you don't explicitly consent to.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="features">
    <section class="container">
      <h1>Features. We host your applications.</h1>
    <div class="row">
      <div class="center col-md-3 col-md-push-8 col-sm-12">
        <img src="img/humans.png" alt="">
     </div>
      <div class="col-md-7 col-md-offset-2 col-md-pull-4 col-sm-12">
        <h2>No technicals skills needed. Just use and share.</h2>
        <p>Choose your freedom bundle or your application from our shop, everything you need comes to you. If you have any question just touch the community or the team. <br>We are real humans.</p>
     </div>
   </div>

   <div class="row">
     <div class="center col-md-1 col-md-offset-1 col-sm-12">
       <img src="img/app.png" alt="">
    </div>
     <div class="col-md-7 col-md-offset-1 col-sm-12">
       <h2>Software that you need. Build your digital life.</h2>
       <p>Free open source software to keep your files updated, calendars, contacts, emails, forums and other things between your hands.</p>
    </div>
  </div>

  <div class="row">
    <div class="center col-md-3 col-md-push-8 col-sm-12">
      <img src="img/control.png" alt="">
   </div>
    <div class="col-md-7 col-md-offset-2 col-md-pull-4 col-sm-12">
      <h2>Keep control. You are libre.</h2>
      <p>Your rules are our rules. We help you with the infrastructure and softwares but you choose who can see what. Private information, stay Private</p>
   </div>

 </div>
  </section>
</div>


<div class="pricing">
<section class="container">
<div class="row">
      <div class="col-md-4 col-s-12">
        <div class="panel panel-default panel-basic">
  <!-- Default panel contents -->
  <div class="panel-heading">Basic</div>
  <div class="panel-body">
    <p><span class="price">24€</span></br>per year</p>
  </div>
  <ul class="list-group list-basic">
    <li class="list-group-item list-storage">Storage: <span class="storage">5GB</span></li>
    <li class="list-group-item">Domain name: indie.host</li>
    <li class="list-group-item">1 email: yourname@indie.host</li>
    <li class="list-group-item">Webmail</li>
    <li class="list-group-item">Cloud for files, contacts and calendar</li>
    <li class="list-group-item">Sychronization to mobile and desktop</li>
    <li class="list-group-item">Friendly and human support</li>
    <li class="list-group-item">30 days trial included, satisfied or reimbursed</li>
  </ul>
</div>
</div>
  <div class="col-md-4 col-s-12">
    <div class="panel panel-default panel-personnal">
<!-- Default panel contents -->
<div class="panel-heading">Personnal</div>
    <div class="panel-body">
      <p><span class="price">48€</span></br>per year</p>
    </div>
<ul class="list-group list-personnal">
  <li class="list-group-item list-storage">Storage: <span class="storage">15GB</span></li>
  <li class="list-group-item">Domain name: Custom</li>
  <li class="list-group-item">1 email: iamfree@myname.com</li>
  <li class="list-group-item">Webmail</li>
  <li class="list-group-item">Cloud for files, contacts and calendar</li>
  <li class="list-group-item">Sychronization to mobile and desktop</li>
  <li class="list-group-item">Friendly and human support</li>
  <li class="list-group-item">30 days trial included, satisfied or reimbursed</li>
</ul>
</div>
</div>

<div class="col-md-4 col-s-12">
  <div class="panel panel-default panel-organisation">
<!-- Default panel contents -->
<div class="panel-heading">Organisation</div>
  <div class="panel-body">
    <p><span class="price">120€</span></br>per year</p>
  </div>
<ul class="list-group list-organisation">
<li class="list-group-item list-storage">Storage:<span class="storage"> 50GB</span></li>
<li class="list-group-item">Domain name: Custom</li>
<li class="list-group-item">Unlimited emails: freemember@myorg.com</li>
<li class="list-group-item">Webmail & web interface to manage users</li>
<li class="list-group-item">Cloud for files, contacts and calendar</li>
<li class="list-group-item">Sychronization to mobile and desktop</li>
<li class="list-group-item">Friendly and human support</li>
<li class="list-group-item">30 days trial included, satisfied or reimbursed</li>
</ul>
</div>
</div>
</div>
</section>
</div>

<div class="users-feedbacks">
<section class="container">
    <h1>Here's what our users say about us:</h1>
<div class="row">
    <div class="col-md-6">
      <div class="blockquote">
      <blockquote>If you are looking for a good, secure host, this is it.</blockquote>
      <footer><cite>Jérémy Cherfas</cite></footer>
    </div>
    </div>

      <div class="col-md-6">
        <div class="blockquote">
        <blockquote> IndieHosters est le service idéal pour les non geeks. Le site est livré clé en main, prêt à utiliser. Toute l'administration technique est transparente</blockquote>
        <footer><cite>Lars Zimmermann</cite></footer>
        </div>
      </div>

        <div class="col-md-6">
          <div class="blockquote">
          <blockquote>When something goes wrong, I send en email or go to the chat and get an answer and solution during the day!</blockquote>
            <footer><cite>Antoine</cite></footer>
        </div>
        </div>

        <div class="col-md-6">
          <div class="blockquote">
          <blockquote>Owning my own data. Not being tracked or used for marketing info by corporate business.</blockquote>
            <footer><cite>@raretrack</cite></footer>
        </div>
        </div>
</div>
</section>
</div>
<div class="press">
<section class="container">
    <h1>They talk about us:</h1>
    <div class="row center">
      <div class="col-md-4">
        <img src="/img/Wired_logo.svg">
      </div>*
      <div class="col-md-4">
        <img clas="img-responsive" src="/img/Logo_Framasoft.svg">
      </div>
      <div class="col-md-4">
        <img src="/img/Gizmodo_Logo.png">
      </div>
</section>
</div>

<div class="newsletter">
<section class="container">
  <h1>Follow our Newsletter</h1>
  <div class="row center">
  <div class="col-md-6 col-md-offset-3">
  <form>
  <div class="form-group">
    <input type="email" placeholder="email" class="form-control">
  </div>
  </form>
</div>
</div>
  <div class="row center">
  <button type="submit" class="btn btn-lg">Subscribe</button>
</div>
</section>
</div>


<div class="mission">
  <section class="container">
      <h1>Hosting for Freedom. Not for Profit.</h1>
  <div class="row">
    <div class="col-md-4 center">
      <img src="img/network.svg" alt="">
        <h2>Help (Re)-Decentralize the Web.</h2>
      <p>We are a team of passionates whose goal is to improve everyone's life through flexible, secure and privacy aware products. Our products are designed for individus and small-to-medium size companies willing to take back ownership over their data. While we believe in an indie web where all individuals and organisations self-host their own data we thrive to offer freedom to our users and support for a decentralized web.</p>
   </div>
   <div class="col-md-4 center">
     <img src="img/share.svg" alt="">
     <h2>Share Knowledge & Community.</h2>
     <p>Indiehosters is a community project. While we offer an infrastructure for your projects, it is only with community support that we can contribute to the free software ecosystem. Our forums offer a place for documentation and questions. Connect with the community and contribute to the movemet. You can find out about our milestones and objectives on our wekan board. Help us define a fair model for all.</p>
   </div>
    <div class="col-md-4 center">
      <img src="img/logo-small.png" alt="">
      <h2>Become an Indihosters Ninja.</h2>
      <p>Indiehosters is an open community. We focus on providing access and support for those who want to contribute to a decentralized web. We are a small team part of a growing network of independent hosters. We believe that all can contribute to the network. Our infrastructure, Libre.sh, is documented and freely accessible. You can help us improving it and get support to get a hold on it.</p>
    </div>
  </div>
</section>
</div>


{{ partial "footer.html" . }}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.0.0.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>


</body></html>
